html,body,#root{
    height: 100%;
    background-color: #EFEFEF;
    margin: 0;
  }
  
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}
.container{
    display: flex;
    height:85%;
    flex-wrap: wrap;
    padding: 10px;
}
.cell-container{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    /* height: 80%; */
}
.cell{
    width: 33%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
}
.button-container{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.action-btn{
    background-color: #72C3DC;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    color: #FFFFFF;
    border: 0px;
    border-bottom: 5px solid #2B8EAD;
    cursor: pointer;
}
.cell1{
    background-color:#6F98A8;
}
.cell2{
    background-color: #2B8EAD
}
.cell3{
    background-color:  #2F454E
}
.cell4{
    background-color: #BFBFBF
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media  screen and (max-width: 375px) {
    html,body,#root{
        background-color: #FFFFFF;
      }
        
.header{
    background-color: #333333;
    color: #FFFFFF;
}
   .container{
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
   }
   .footer{
    font-size: 14px;
   }
   .cell-container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 80%;
   }
   .cell{
    width: 100%;
    height: 10%;
    font-size: 16px;
    color: #000000;
   }
   .cell1{
    background-color: #EFEFEF;
    border-left: 5px solid #6F98A8;
}
.cell2{
    background-color: #EFEFEF;
    border-left: 5px solid  #2B8EAD;
}
.cell3{
    background-color: #EFEFEF;
    border-left: 5px solid #2F454E;
}
.cell4{
    background-color: #EFEFEF;
    border-left: 5px solid #BFBFBF;
}
.button-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.action-btn{
    width:75px;
}
  }